@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
               <h4> Welcome to Resume Scanner Application</h4>
            </div>
            <div >
                    <a href="@Url.Action("Register","Home")" class="btn btn-success">start</a>
 
            </div>
        </div>

    </div>
</div>
